<%if @a1%>


<div id ="home-content">
	<div id ="f1">
			<h11> Send Request(type username,email or phone number)</h11>
	</div>
	<%=form_tag '/buddies' do %>
		<%=text_field_tag "friend_contact_info"%>
   		<input name="commit" type="submit" value="Send Request">




	<div id ="f1">
		<h11> Followers </h11>
	</div>
	<% @fw1.each do |follower|%>
		<div>
			<%= follower['follower']['username'] %>
			<%= follower['follower']['email'] %>
			<button name="follow" id="follow" value="<%=follower['follower']['id']%>">Follow </button>

			<button name="block" id="block" value="<%=follower['follower']['id']%>">Block </button>



		</div>
	<%end%>	

	<div id ="f1">
		<h11> Following </h11>
	</div>

	<% @fw2.each do |followee|%>
		<div>
			<%= followee['followee']['username'] %>
			<%= followee['followee']['email'] %>
			<button name="unfollow" id="unfollow" value="<%=followee['followee']['id']%>">Unfollow </button>

			<button name="block" id="block" value="<%=followee['followee']['id']%>">Block </button>
		</div>
	<%end%>
	
	
	<div id ="f1">
		<h11> People who want to be your friends </h11>
	</div>

	<% @rq.each do |request|%>
		<div>
			<%= request['requester']['username'] %>
			<%= request['requester']['email'] %>
			<button name="accept_and_follow" id="accept_and_follow" value="<%=request['requester']['id']%>">Accept and Follow </button>
			<button name="accept" id="accept" value="<%=request['requester']['id']%>">Accept </button>
			<button name="reject" id="reject" value="<%=request['requester']['id']%>">Reject </button>
			<button name="block" id="block" value="<%=request['requester']['id']%>">Block </button>

		</div>
	<%end%>

	<!--<div id ="f1">
		<h11> People who you are blocking</h11>
	</div>

	<% @bk1.each do |b1|%>
		<div>
		
			<button name="unblock" id="unblock" value="<%=b1['id']%>">Unblock</button>

		</div>
	<%end%>-->

			



</div>

<%end%>

<%else%>
<meta http-equiv="refresh" content="5; url=/register"> 

 <h11> Sign up and enjoy with your friends! (If it does not redirect, please click --><%= link_to "Here", register_path%> )</h11>
 <%end%> 