<!--<div id="main" class="group" role="main">-->
	<div id="slider">
		<div id="content">
			<div id="myCarousel" class="carousel slide">
			  <ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			    <li data-target="#myCarousel" data-slide-to="2"></li>
			  </ol>
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item" id = "slider">
			    	<img src="/assets/iron-man-3.jpg" alt>
			    </div>
			    <div class="item" id="slider">    	
			    	<img src="/assets/hulk.jpg" alt>
				</div>
			    <div class="item" id="slider">
			    	<img src="/assets/captain-america.jpg" alt>
			    </div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div>

	<div id="home-content">
		<div id="movies">
			<h1 class="title"> Movies </h1>
			<div id="nowshowing">
				<div class="group">
					<% @im['movies'].each do |movie| %> 
						<div class="movie-items1">
							<% if(movie['photos'].length >0) %>
	                    	<%photo = movie['photos'].first%> 
	                    		<%if photo['poster']==true%>
			                        <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid1 => movie['id'] do%>
			                            <div class="movie-items2">
											<div id="movie-items-pics">
				                            	<img src="<%=photo['url']%>" class="img-rounded">
				                            </div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
				                              	<div id="hiding">
				                              		<p>
													<%movie['genres'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
													<p>
													<%movie['directors'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>

				                            	</div>
				                            </div>
			                            </div>
			                        <%end%>
			                    <%else%>
			                        <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid1 => movie['id'] do%>
			                            <div class="movie-items2">
			                        		<div id="movie-items-pics">
			                              		<img src="/assets/no_image.gif" class="img-rounded">       
											</div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
			                              		<div id="hiding">
			                              			<p>
													<%movie['genres'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
													<p>
													<%movie['directors'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
			                            		</div>
			                            	</div>
			                            </div>                           
			                        <%end%>
			                      <%end%>
	                  		<%elsif movie['photos'].length==0%>
			                    <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid1 => movie['id'] do%>
			                        <div class="movie-items2">
			                        	<div id="movie-items-pics">
			                            	<img src="/assets/no_image.gif" class="img-rounded">             
			                       		</div>
				                        <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
				                            <div id="hiding">
				                            	<p>
												<%movie['genres'].each do |a2|%>
													<%=a2['name']%>
												<%end%>
												</p>
												<p>
												<%movie['directors'].each do |a2|%>
													<%=a2['name']%>
												<%end%>
												</p>
				                            </div>
				                        </div>
			                        </div>                         
			                    <%end%>                 		
	                  		<%end%>    
	                  	</div>    				
        			<%end%><!--imloop-->


					<% @rm['movies'].each do |movie| %> 
						<div class="movie-items1">
							<% if(movie['photos'].length >0) %>
	                    	<%photo = movie['photos'].first%> 
	                    		<%if photo['poster']==true%>
			                        <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
										<div class="movie-items2">
											<div id="movie-items-pics">
				                            	<img src="<%=photo['url']%>" class="img-rounded">
				                            </div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
				                              	<div id="hiding">
				                              		<p>
													<%movie['genres'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
													<p>
													<%movie['directors'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
				                            	</div>
				                            </div>
			                            </div>
			                        <%end%>
			                    <%else%>
			                        <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
			                            <div class="movie-items2">
			                        		<div id="movie-items-pics">
			                              		<img src="/assets/no_image.gif" class="img-rounded">       
											</div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
			                              		<div id="hiding">
			                              			<p>
													<%movie['genres'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
													<p>
													<%movie['directors'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
			                            		</div>
			                            	</div>
			                            </div>    
			                        <%end%>
			                    <%end%>
	                  		<%elsif movie['photos'].length==0%>
	                     		<%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
			                        <div class="movie-items2">
			                        	<div id="movie-items-pics">
			                            	<img src="/assets/no_image.gif" class="img-rounded">             
			                       		</div>
				                        <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
				                            <div id="hiding">
				                            	<p>
												<%movie['genres'].each do |a2|%>
													<%=a2['name']%>
												<%end%>
												</p>
												<p>
												<%movie['directors'].each do |a2|%>
													<%=a2['name']%>
												<%end%>
												</p>
				                            </div>
				                        </div>
			                        </div>                           
			                    <%end%>    
			                <%end%> 
	                  	</div>    				
        			<%end%><!--rmloop-->

        			<% @nim['movies'].each do |movie| %> 
						<div class="movie-items1">
							<% if(movie['photos'].length >0) %>
	                    	<%photo = movie['photos'].first%> 
	                    		<%if photo['poster']==true%>
			                        <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
			                            <div class="movie-items2">
											<div id="movie-items-pics">
				                            	<img src="<%=photo['url']%>" class="img-rounded">
				                            </div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
				                              	<div id="hiding">
				                              		<p>
													<%movie['genres'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
													<p>
													<%movie['directors'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>

				                            	</div>
				                            </div>
			                            </div>
			                        <%end%>
			                    <%else%>
			                        <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
			                            <div class="movie-items2">
			                        		<div id="movie-items-pics">
			                              		<img src="/assets/no_image.gif" class="img-rounded">       
											</div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
			                              		<div id="hiding">
			                              			<p>
													<%movie['genres'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
													<p>
													<%movie['directors'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
			                            		</div>
			                            	</div>
			                            </div>    
			                        <%end%>
			                      <%end%>
	                  		<%elsif movie['photos'].length==0%>
	                     		<%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
			                        <div class="movie-items2">
			                        	<div id="movie-items-pics">
			                            	<img src="/assets/no_image.gif" class="img-rounded">             
			                       		</div>
				                        <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
				                            <div id="hiding">
				                            	<p>
												<%movie['genres'].each do |a2|%>
													<%=a2['name']%>
												<%end%>
												</p>
												<p>
												<%movie['directors'].each do |a2|%>
													<%=a2['name']%>
												<%end%>
												</p>
				                            </div>
				                        </div>
			                        </div>                          
			                    <%end%> 
	                  		<%end%>    
	                  	</div>    				
        			<%end%><!--nimloop-->

        		</div>
			</div>
		</div><!--movies-->
	</div><!--home-content-->

<!--</div>main-->
