	<div id="slider">
		<div id="content">
			<div id="myCarousel" class="carousel slide">
			    <ol class="carousel-indicators">
    <a href="#myCarousel" data-slide-to="0" class="active">1</a>
    <a href="#myCarousel" data-slide-to="1">2</a>
    <a href="#myCarousel" data-slide-to="2">3</a>
    <a href="#myCarousel" data-slide-to="3">4</a>
    <a href="#myCarousel" data-slide-to="4">5</a>
    <a href="#myCarousel" data-slide-to="5">6</a>
    <a href="#myCarousel" data-slide-to="6">7</a>

  </ol>
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item" id = "slider">
			    	<img src="/assets/iphone-slide.png" alt>
			    </div>
			    <div class="item" id="slider">
			    	<p> Prefer it, Rate it </p>    	
			    	<p> Rate genres, actors and directors then movies ranked based on your preferences</p>
				</div>
				<div class="item" id="slider">
			    	<p> Manage your own "To Watch" and "Not Interested" list for movies</p>
				</div>
				<div class="item" id="slider">
			    	<p> See which of your buddies want to watch a movie </p>
				</div>
				<div class="item" id="slider">
			    	<p> Go on and watch <a href="/trailers">Trailers now!!</a> </p>
				</div>
			    <div class="item" id="slider">    	
			    	<img src="/assets/responsive-slide.png" alt>
				</div>
			    <div class="item"id="slider">
			    	<p> Convenient Finding Nemo </p>
			    	<p> Find movies and showtimes at theatres near you that you never know that it does exist in this world before </p>
			    </div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div>
	<script>
$('.carousel').carousel({
  interval: 5000
})
</script>
	<div id="home-content">
		<div id="movies">
			<h1 class="title"> Movies </h1>
			<div id="nowshowing">
				<div class="group">
					<% @im['movies'].each do |movie| %> 
						<div class="movie-items1">
							<% if(movie['photos'].length >0) %>
	                    	<%photo = movie['photos'].first%> 
	                    		<%if photo['poster']==true%>
			                        <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
			                            <div class="movie-items2">
											<div id="movie-items-pics">
				                            	<img src="<%=photo['url']%>" class="img-rounded">
				                            </div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
				                              	<div id="hiding">
				                              		<p>
													<%movie['genres'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
													<p>
													<%movie['directors'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>

				                            	</div>
				                            </div>
			                            </div>
			                        <%end%>
			                    <%else%>
			                        <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
			                            <div class="movie-items2">
			                        		<div id="movie-items-pics">
			                              		<img src="/assets/no_image.gif" class="img-rounded">       
											</div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
			                              		<div id="hiding">
			                              			<p>
													<%movie['genres'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
													<p>
													<%movie['directors'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
			                            		</div>
			                            	</div>
			                            </div>                           
			                        <%end%>
			                      <%end%>
	                  		<%elsif movie['photos'].length==0%>
			                    <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
			                        <div class="movie-items2">
			                        	<div id="movie-items-pics">
			                            	<img src="/assets/no_image.gif" class="img-rounded">             
			                       		</div>
				                        <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
				                            <div id="hiding">
				                            	<p>
												<%movie['genres'].each do |a2|%>
													<%=a2['name']%>
												<%end%>
												</p>
												<p>
												<%movie['directors'].each do |a2|%>
													<%=a2['name']%>
												<%end%>
												</p>
				                            </div>
				                        </div>
			                        </div>                         
			                    <%end%>                 		
	                  		<%end%>    
	                  	</div>    				
        			<%end%><!--imloop-->


					<% @rm['movies'].each do |movie| %> 
						<div class="movie-items1">
							<% if(movie['photos'].length >0) %>
	                    	<%photo = movie['photos'].first%> 
	                    		<%if photo['poster']==true%>
			                        <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
										<div class="movie-items2">
											<div id="movie-items-pics">
				                            	<img src="<%=photo['url']%>" class="img-rounded">
				                            </div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
				                              	<div id="hiding">
				                              		<p>
													<%movie['genres'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
													<p>
													<%movie['directors'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
				                            	</div>
				                            </div>
			                            </div>
			                        <%end%>
			                    <%else%>
			                        <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
			                            <div class="movie-items2">
			                        		<div id="movie-items-pics">
			                              		<img src="/assets/no_image.gif" class="img-rounded">       
											</div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
			                              		<div id="hiding">
			                              			<p>
													<%movie['genres'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
													<p>
													<%movie['directors'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
			                            		</div>
			                            	</div>
			                            </div>    
			                        <%end%>
			                    <%end%>
	                  		<%elsif movie['photos'].length==0%>
	                     		<%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
			                        <div class="movie-items2">
			                        	<div id="movie-items-pics">
			                            	<img src="/assets/no_image.gif" class="img-rounded">             
			                       		</div>
				                        <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
				                            <div id="hiding">
				                            	<p>
												<%movie['genres'].each do |a2|%>
													<%=a2['name']%>
												<%end%>
												</p>
												<p>
												<%movie['directors'].each do |a2|%>
													<%=a2['name']%>
												<%end%>
												</p>
				                            </div>
				                        </div>
			                        </div>                           
			                    <%end%>    
			                <%end%> 
	                  	</div>    				
        			<%end%><!--rmloop-->

        			<% @nim['movies'].each do |movie| %> 
						<div class="movie-items1">
							<% if(movie['photos'].length >0) %>
	                    	<%photo = movie['photos'].first%> 
	                    		<%if photo['poster']==true%>
			                        <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
			                            <div class="movie-items2">
											<div id="movie-items-pics">
				                            	<img src="<%=photo['url']%>" class="img-rounded">
				                            </div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
				                              	<div id="hiding">
				                              		<p>
													<%movie['genres'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
													<p>
													<%movie['directors'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>

				                            	</div>
				                            </div>
			                            </div>
			                        <%end%>
			                    <%else%>
			                        <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
			                            <div class="movie-items2">
			                        		<div id="movie-items-pics">
			                              		<img src="/assets/no_image.gif" class="img-rounded">       
											</div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
			                              		<div id="hiding">
			                              			<p>
													<%movie['genres'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
													<p>
													<%movie['directors'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
			                            		</div>
			                            	</div>
			                            </div>    
			                        <%end%>
			                      <%end%>
	                  		<%elsif movie['photos'].length==0%>
	                     		<%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
			                        <div class="movie-items2">
			                        	<div id="movie-items-pics">
			                            	<img src="/assets/no_image.gif" class="img-rounded">             
			                       		</div>
				                        <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
				                            <div id="hiding">
				                            	<p>
												<%movie['genres'].each do |a2|%>
													<%=a2['name']%>
												<%end%>
												</p>
												<p>
												<%movie['directors'].each do |a2|%>
													<%=a2['name']%>
												<%end%>
												</p>
				                            </div>
				                        </div>
			                        </div>                          
			                    <%end%> 
	                  		<%end%>    
	                  	</div>    				
        			<%end%><!--nimloop-->

        		</div>
			</div>
		</div><!--movies-->
	</div><!--home-content-->
