<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="stylesheets/normalize.min.css">
  <link rel="stylesheet" href="stylesheets/custom.css.scss">
  <script src="javascripts/modernizr-2.6.2.min.js"></script>

<script type="text/javascript" src="tab.js"></script>


</head>

<body>

<div id="box_tab" class = "ui-tabs">
      <h11> Movies </h11>
<ul id="box_menu" name="box_menu" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li id="li1" name="li1" class="t1 ui-state-default ui-corner-top"><a href="javascript:clicktab(1);"> Interested Movies </a></li>
        <li id="li2" name="li2" class="t2 ui-state-default ui-corner-top"><a href="javascript:clicktab(2);"> Remaining Movies</a></li>
        <li id="li3" name="li3" class="t3 ui-state-default ui-corner-top"><a href="javascript:clicktab(3);"> Not Interested Movies</a></li>
</ul>

  <div id="box_content1" name="box_content1" class="panel ui-tabs-panel ui-widget-content ui-corner-bottom" style="display: inline;">
    <div class="movie_items group">
      <h1> Interested Movies </h1>
      <% @im['movies'].each do |movie| %> 
        <% if(movie['photos'].length >0) %>
          <%photo = movie['photos'].first%>
          <div class="wpcf-field-value wpcf-field-image-value wpcf-field-poster-value">
            <img width="140" height="210" src="<%= photo['url']%>" class="attachment-thumbnail">
            <h11><%= movie['title'] %> </h11>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>

  <div id="box_content2" name="box_content2" class="panel ui-tabs-panel ui-widget-content ui-corner-bottom">
    <div class="movie_items group">
      <h1> Remaining Movies </h1>
      <% @rm['movies'].each do |movie| %> 
        <% if(movie['photos'].length >0) %>
          <%photo = movie['photos'].first%>
          <div class="wpcf-field-value wpcf-field-image-value wpcf-field-poster-value">
            <img width="140" height="210" src="<%= photo['url']%>" class="attachment-thumbnail">
            <h11><%= movie['title'] %> </h11>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>

  <div id="box_content3" name="box_content3" class="panel ui-tabs-panel ui-widget-content ui-corner-bottom">
    <div class="movie_items group">
      <h1> Not Interested Movies </h1>
      <% @nim['movies'].each do |movie| %> 
        <% if(movie['photos'].length >0) %>
          <%photo = movie['photos'].first%>
          <div class="wpcf-field-value wpcf-field-image-value wpcf-field-poster-value">
            <img width="140" height="210" src="<%= photo['url']%>" class="attachment-thumbnail">
            <h11><%= movie['title'] %> </h11>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>

<script type="text/javascript">
  clicktab()
</script>

</body>
</html>