<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <%= javascript_include_tag "bootstrap/js/bootstrap" %>
  <%= stylesheet_link_tag "bootstrap/css/bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap/css/bootstrap.min", :media => "all" %>



</head>

<body>

  <script>
$(function () {
    $('#myTab a:last').tab('show');
  })

</script>
<%if(session[:auth] || session[:guest_auth])%>

<div class = "tabbable">
  <ul class="nav nav-tabs" id="myTab">
    <li class ="active"><a href="#interested" data-toggle="tab">Interested Movies</a></li>
    <li><a href="#remaining" data-toggle="tab">Remaining Movies</a></li>
    <li><a href="#not_interested" data-toggle="tab">Not Interested Movies</a></li>

  </ul>

  <div id = "myTabContent" class="tab-content">

    <div id="interested" class="tab-pane active" >
      <h1> Interested Movies </h1>
      <pre>  
        <% @im['movies'].each do |movie| %> 
          <% if(movie['photos'].length >0) %>
            <%photo = movie['photos'].first%>
            <div class="wpcf-field-value wpcf-field-image-value wpcf-field-poster-value">
              <img width="140" height="210" src="<%= photo['url']%>" class="attachment-thumbnail">
              <h11><%= movie['title'] %> </h11>
            </div>
           <%end%>
        <%end%>
      </pre>
    </div>


    <div id="remaining" class="tab-pane fade" >
      <h1> Remaining Movies </h1>
      <% @rm['movies'].each do |movie| %> 
        <% if(movie['photos'].length >0) %>
          <%photo = movie['photos'].first%>
          <div class="wpcf-field-value wpcf-field-image-value wpcf-field-poster-value">
            <img width="140" height="210" src="<%= photo['url']%>" class="attachment-thumbnail">
            <h11><%= movie['title'] %> 
                    <%=movie['id']%></h11>

          </div>
        <%end%>
            <%=form_tag '/movies' do %>
                   <button name="liked" id="liked" value="<%=movie['id']%>" class='btn btn-mini'><i class="icon-thumbs-up" ></i>
                    <% @y4=@rm['movies'].detect{|x4| x4["id"]== movie['id']} %>
                    <% @y4index = @rm['movies'].index (@y4) %>
                    <% @rm['movies'].delete_at (@y4index) %>

                   </button>
              

              
                   <button name="unliked" id="unliked" value="<%=movie['id']%>" class='btn btn-mini'><i class="icon-thumbs-down" ></i></button>
                  <%end%>
          
      <%end%>
    </div>


  
    <div id="not_interested" class="tab-pane fade" >
      <h1> Not Interested Movies </h1>
        <% @nim['movies'].each do |movie| %> 
          <% if(movie['photos'].length >0) %>
            <%photo = movie['photos'].first%>
            <div class="wpcf-field-value wpcf-field-image-value wpcf-field-poster-value">
              <img width="140" height="210" src="<%= photo['url']%>" class="attachment-thumbnail">
              <h11><%= movie['title'] %> </h11>
            </div>
          <%end%>
        <%end%>
      </div>

    </div><!--myTabContent-->

</div><!--tabbable-->
<%else%>
<p> You don't have any permission to select movies. Please 
  <%=link_to "Sign In", signin_path %> or <%=link_to "Register", register_path%>
</p>


<%end%>


</body>
</html>