<html>
<head>
  <%if(session[:auth] || session[:guest_auth])%>

  <%= javascript_include_tag "bootstrap-tab" %>

<script type="text/javascript">
$(function () {
    $('#myTab a:first').tab('show');
  })

</script>


</head>

<body>

  
<!--<div id="main" class="group" role="main">-->



  <div id="home-content">
    <div id="movies">
      <div id="nowshowing1">
        <div class="tabbable">
          <ul class="nav nav-tabs" id="myTab">
            <h1> Movies </h1>
            <li class ="active"><a href="#interested" data-toggle="tab">Interested Movies</a></li>
            <li><a href="#remaining" data-toggle="tab">Remaining Movies</a></li>
            <li><a href="#not_interested" data-toggle="tab">Not Interested Movies</a></li>

          </ul>

          <div id ="myTabContent" class="tab-content">

            <div id="interested" class="tab-pane active">
              <div class="group">
              <!--<%=form_tag '/showmovie' do %> -->
              <div id="movie-cat">
                <h3> Watched </h3>
                <!--watched-->
                <% @im['movies'].each do |movie| %> 
                <div class="movie-items1">

                  <!--<button class="btn btn-link" name="showid1" id="showid1" value="<%=movie['id']%>">-->
                  
                  <% if(movie['photos'].length >0 && movie['watched']==true) %>
                    <%photo = movie['photos'].first%>
                    
                      <%= link_to image_tag("#{photo['url']}" ,:class =>'img-rounded') +"#{movie['title']}" , {:controller => "static_pages" ,:action => "showmovie" ,:showid1 => movie['id']}  %>


                      <img class="img-rounded" width="140" height="210" src="<%=photo['url']%>">
                      <%elsif movie['photos'].length==0 && movie['watched']==true%>
                      
                      <img class="img-rounded" width="140" height="210" src="/assets/no_image.gif">
                      
                      <%end%>
                      <%if movie['watched']==true%>
                      <h3><%= movie['title'] %> </h3>
                    <!--</button>-->
                      <%end%> <!--if watched--> 
                      

                      <div id="button2">
                        <button name="liked" id="liked" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-thumbs-up"></i>
                        </button>

                        <button name="unliked" id="unliked" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-thumbs-down"></i>
                        </button>

                        <%if movie['watched'] == false && movie['available']==true%>
                        <button name="watched" id="watched" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-ok"></i>
                        </button>
                        <%elsif movie['watched'] == true && movie['available']==true%>
                        <button name="unwatched" id="unwatched" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-remove"></i>
                        </button>
                        <%elsif movie['available']==false %>
                        <%end%>

                      </div><!--button2-->
                    
                  
                  </div><!--movie-item1-->
                <%end%> <!--im loop-->
              </div><!--movie-cat-->

                    <!--unwatched-->
                <div id="movie-cat">
                  <h3> Other Movies </h3>
                  <% @im['movies'].each do |movie| %> 
                  <div class="movie-items1">
                    <button class="btn btn-link" name="showid1" id="showid1" value="<%=movie['id']%>">
                  <% if(movie['photos'].length >0 && movie['watched']==false) %>
                    <%photo = movie['photos'].first%>
                    
                      <img class="img-rounded" width="140" height="210" src="<%= photo['url']%>">
                  
                    <%elsif movie['photos'].length ==0 && movie['watched']==false%>
                      <img class="img-rounded" width="140" height="210" src="/assets/no_image.gif">
                      <%end%>

                      <%if movie['watched']==false%>
                      <h3><%= movie['title'] %> </h3>
                    </button>
                      
                      <div id="button2">
                        <button name="liked" id="liked" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-thumbs-up"></i>
                        </button>

                        <button name="unliked" id="unliked" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-thumbs-down"></i>
                        </button>

                        <%if movie['watched'] == false && movie['available']==true%>
                        <button name="watched" id="watched" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-ok"></i>
                        </button>
                        <%elsif movie['watched'] == true && movie['available']==true%>
                        <button name="unwatched" id="unwatched" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-remove"></i>
                        </button>
                        <%elsif movie['available']==false %>
                        <%end%>
                      </div>
                    
                    <%end%> <!--if watched and unwatched-->
                    </div><!--movie-item1-->
                  <%end%> <!--im loop-->
                <!--<%end%><!--form-->
                </div><!--movie-cat-->
              </div><!--group-->
            </div><!--interested-->


          <div id="remaining" class="tab-pane fade">
            <div class="group">

              <%=form_tag '/showmovie' do %>
              <div id="movie-cat">
                <h3> Watched </h3>
                <!--watched-->
                <% @rm['movies'].each do |movie| %> 
                  <div class="movie-items1">
                    <button class="btn btn-link" name="showid2" id="showid2" value="<%=movie['id']%>">
                  <% if(movie['photos'].length >0 && movie['watched']==true) %>
                    <%photo = movie['photos'].first%>
                      <img class="img-rounded" width="140" height="210" src="<%= photo['url']%>">

                  <%elsif movie['photos'].length ==0 && movie['watched']==true%>
                      <img class="img-rounded" width="140" height="210" src="/assets/no_image.gif">

                  <%end%>
                      <%if (movie['watched']==true) %>
                      <h3><%= movie['title'] %> </h3>
                    </button>
                      <div id="button2">
                        <button name="liked" id="liked" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-thumbs-up"></i>
                        </button>

                        <button name="unliked" id="unliked" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-thumbs-down"></i>
                        </button>

                        <%if movie['watched'] == false && movie['available']==true%>
                        <button name="watched" id="watched" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-ok"></i>
                        </button>
                        <%elsif movie['watched'] == true && movie['available']==true%>
                        <button name="unwatched" id="unwatched" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-remove"></i>
                        </button>
                        <%elsif movie['available']==false %>
                        <%end%>

                      </div>
                    
                  <%end%> <!--if watched-->
                  </div><!--movie-item1-->
                <%end%> <!--rm loop-->
                  </div><!--movie-cat-->

                    <!--unwatched-->
                <div id="movie-cat">
                  <h3> Other Movies </h3>
                  <% @rm['movies'].each do |movie| %> 
                  <div class="movie-items1">
                    <button class="btn btn-link" name="showid2" id="showid2" value="<%=movie['id']%>">
                  <% if(movie['photos'].length >0 && movie['watched']==false) %>
                    <%photo = movie['photos'].first%>
                      <img class="img-rounded" width="140" height="210" src="<%= photo['url']%>">
                    <%elsif movie['photos'].length ==0 && movie['watched']==false%>
                      <img class="img-rounded" width="140" height="210" src="/assets/no_image.gif">
                    <%end%>
                    <%if (movie['watched']==false) %>
                      <h3><%= movie['title'] %> </h3>
                    </button>
                      <div id="button2">
                        <button name="liked" id="liked" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-thumbs-up"></i>
                        </button>

                        <button name="unliked" id="unliked" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-thumbs-down"></i>
                        </button>

                        <%if movie['watched'] == false && movie['available']==true%>
                        <button name="watched" id="watched" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-ok"></i>
                        </button>
                        <%elsif movie['watched'] == true && movie['available']==true%>
                        <button name="unwatched" id="unwatched" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-remove"></i>
                        </button>
                        <%elsif movie['available']==false %>
                        <%end%>
                      </div>
                    
                    <%end%> <!--if watched and unwatched-->
                    </div>
                  <%end%> <!--rm loop-->
                <%end%><!--form-->
                </div><!--movie-cat-->
              </div>
            </div><!--remaining-->

          <div id="not_interested" class="tab-pane fade">
            <div class="group">
              <%=form_tag '/showmovie' do %>
              <div id="movie-cat">
                <h3> Watched </h3>
                <!--watched-->

                <% @nim['movies'].each do |movie| %> 
                <div class="movie-items1">
                    <button class="btn btn-link" name="showid3" id="showid3" value="<%=movie['id']%>">

                  <% if(movie['photos'].length >0 && movie['watched']==true) %>
                    <%photo = movie['photos'].first%>
                    
                      <img class="img-rounded" width="140" height="210" src="<%= photo['url']%>">
                      <%elsif movie['photos'].length ==0 && movie['watched']==true%>
                      <img class="img-rounded" width="140" height="210" src="/assets/no_image.gif">
                      <%end%>
                      <% if (movie['watched']==true) %>
                      <h3><%= movie['title'] %> </h3>
                    </button>
                      
                      <div id="button2">
                        <button name="liked" id="liked" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-thumbs-up"></i>
                        </button>

                        <button name="unliked" id="unliked" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-thumbs-down"></i>
                        </button>

                        <%if movie['watched'] == false && movie['available']==true%>
                        <button name="watched" id="watched" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-ok"></i>
                        </button>
                        <%elsif movie['watched'] == true && movie['available']==true%>
                        <button name="unwatched" id="unwatched" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-remove"></i>
                        </button>
                        <%elsif movie['available']==false %>
                        <%end%>

                      </div>
                    
                  <%end%> <!--if watched-->
                  </div>
                <%end%> <!--nim loop-->
              </div><!--movie-cat-->

                    <!--unwatched-->
                <div id="movie-cat">
                  <h3> Other Movies </h3>
                  <% @nim['movies'].each do |movie| %> 
                  <div class="movie-items1">
                  <button class="btn btn-link" name="showid3" id="showid3" value="<%=movie['id']%>">

                  <% if(movie['photos'].length >0 && movie['watched']==false) %>
                    <%photo = movie['photos'].first%>
                    
                      <img class="img-rounded" width="140" height="210" src="<%= photo['url']%>">
                  <%elsif movie['photos'].length ==0 && movie['watched']==false%>
                      <img class="img-rounded" width="140" height="210" src="/assets/no_image.gif">
                      <%end%>
                      <% if (movie['watched']==false) %>
                      <h3><%= movie['title'] %> </h3>
                    </button>
                      
                      <div id="button2">
                        <button name="liked" id="liked" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-thumbs-up"></i>
                        </button>

                        <button name="unliked" id="unliked" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-thumbs-down"></i>
                        </button>

                        <%if movie['watched'] == false && movie['available']==true%>
                        <button name="watched" id="watched" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-ok"></i>
                        </button>
                        <%elsif movie['watched'] == true && movie['available']==true%>
                        <button name="unwatched" id="unwatched" value="<%=movie['id']%>" class='btn btn-mini'> <i class="icon-remove"></i>
                        </button>
                        <%elsif movie['available']==false %>
                        <%end%>
                      </div>
                    
                    <%end%> <!--if watched and unwatched-->
                    </div>
                  <%end%> <!--nim loop-->
                <%end%><!--form-->
                </div>
              </div>
          </div>

          </div><!--myTabContent-->

        </div><!--tabbable-->
      </div><!--nowshowing-->
    </div><!--movies-->

  </div><!--home-content-->
<!--</div> main-->
  <%else%>
  <p> You do not have any permission to select movies. Please 
    <%=link_to "Sign In", signin_path %> or <%=link_to "Register", register_path%>
  </p>
  
<%end%>


</body>
</html>