<h1> Register </h1>
  <!--<form action = "/signin" method ="post">-->
  <%if flash[:error]%>
  <div class = "alert">
    <p> <%=flash[:error]%></p>
  </div>
  <%else%>
  <%end%>

  <%= form_tag '/register' do %>

  <div class='control-group'>
    <div class='controls'>
      <!--<label for="user_login">Login</label>-->
      <%= label_tag("Email") %>
      <!--<input id="user_login" name="user[login]" size="30" type="text">-->
      <%= text_field_tag "email"%>
    </div>
  </div>

  <div class='control-group'>
    <div class='controls'>
      <!--<label for="user_login">Login</label>-->
      <%= label_tag("Email Confirmation") %>
      <!--<input id="user_login" name="user[login]" size="30" type="text">-->
      <%= text_field_tag "email_confirmation"%>
    </div>
  </div>


  <div class='control-group'>
    <div class='controls'>
      <!--<label for="user_password">Password</label>-->
      <%= label_tag("Password") %>
      <!--<input id="user_password" name="user[password]" size="30" type="password">-->
      <%= password_field_tag("password") %>
    </div>
  </div>




 
  <div class='controls'>
  <button name="confirm" id="confirm" value="confirm"> Confirm </button>
   </div>


  

<!--</form>-->

<%end%>
