<h1> Register </h1>
  <!--<form action = "/signin" method ="post">-->
  <%= form_tag '/register' do %>

  <div class='control-group'>
    <div class='controls'>
      <!--<label for="user_login">Login</label>-->
      <%= label_tag("Email") %>
      <!--<input id="user_login" name="user[login]" size="30" type="text">-->
      <%= text_field_tag "email"%>
    </div>
  </div>

  <div class='control-group'>
    <div class='controls'>
      <!--<label for="user_login">Login</label>-->
      <%= label_tag("Email Confirmation") %>
      <!--<input id="user_login" name="user[login]" size="30" type="text">-->
      <%= text_field_tag "email"%>
    </div>
  </div>


  <div class='control-group'>
    <div class='controls'>
      <!--<label for="user_password">Password</label>-->
      <%= label_tag("Password") %>
      <!--<input id="user_password" name="user[password]" size="30" type="password">-->
      <%= password_field_tag("password") %>
    </div>
  </div>




 
  <div class='controls'>
    <input name="commit" type="submit" value="Confirm">

   </div>

<!--</form>-->
<%end%>

