<script>
  var userAgent = window.navigator.userAgent;
  if (userAgent.match(/iPad/i) || userAgent.match(/iPhone/i)) {
    window.location = <%= "flavumovies://?password_reset_token=#{@password_reset_token}" %>
  }
</script>

  <%= form_tag '/reset_password' do %>

  <div class='control-group'>
    <div class='controls'>
      <!--<label for="user_password">Password</label>-->
      <%= label_tag("Password") %>
      <!--<input id="user_password" name="user[password]" size="30" type="password">-->
      <%= password_field_tag("password") %>
    </div>
  </div>
  <div class='control-group'>
    <div class='controls'>
      <!--<label for="user_password">Password</label>-->
      <%= label_tag("Password Confirmation") %>
      <!--<input id="user_password" name="user[password]" size="30" type="password">-->
      <%= password_field_tag("password_confirmation") %>
    </div>
  </div>

<%=hidden_field_tag "reset_password", @password_reset_token%>

  <div class='controls'>
  <button name="confirm" id="confirm" value="confirm"> Confirm </button>
   </div>
   <%end%>