<%if(!session[:auth])%>
<meta http-equiv="refresh" content="5; url=/home"> 
 <h11> Sign up and enjoy with your friends! (If it does not redirect, please click --><%= link_to "Here", register_path%> )</h11>
<%else%>


<h11> Account Setting </h11>


	      

<%=form_tag '/settings' do%>

	<div>
		<h11> Your currently email is <%=@user['email']%> </h11>
	</div>

	<div class='control-group'>
	    <div class='controls'>
	      <!--<label for="user_login">Login</label>-->

	      <%= label_tag("Email") %>
	      <!--<input id="user_login" name="user[login]" size="30" type="text">-->
	      <%= text_field_tag "email"%>
	    </div>
  	</div>

	<div>
		<h11> Your currently username is <%=@user['username']%> </h11>
	</div>
	<div class='control-group'>
	    <div class='controls'>
	      <!--<label for="user_login">Login</label>-->

	      <%= label_tag("Username") %>
	      <!--<input id="user_login" name="user[login]" size="30" type="text">-->
	      <%= text_field_tag "username"%>
	    </div>
  	</div>

	<div>
		<h11> Your currently display name is <%=@user['display_name']%> </h11>
	</div>
	<div class='control-group'>
	    <div class='controls'>
	      <!--<label for="user_login">Login</label>-->

	      <%= label_tag("Display Name") %>
	      <!--<input id="user_login" name="user[login]" size="30" type="text">-->
	      <%= text_field_tag "display_name"%>
	    </div>
  	</div>

	<div>
		<h11> Your currently Phone Number is <%=@user['phone_number']%> </h11>
	</div>
	<div class='control-group'>
	    <div class='controls'>
	      <!--<label for="user_login">Login</label>-->

	      <%= label_tag("Phone Number (Optional)") %>
	      <!--<input id="user_login" name="user[login]" size="30" type="text">-->
	      <%= text_field_tag "phone_number"%>
	    </div>
  	</div>

	<div class='control-group'>
	    <div class='controls'>
	      <!--<label for="user_login">Login</label>-->

	      <%= label_tag("Password (leave it blank if you don't want to change)") %>
	      <!--<input id="user_login" name="user[login]" size="30" type="text">-->
	      <%= text_field_tag "password"%>
	    </div>
  	</div>

  	<div class='control-group'>
	    <div class='controls'>
	      <!--<label for="user_login">Login</label>-->

	      <%= label_tag("Password Confirmation") %>
	      <!--<input id="user_login" name="user[login]" size="30" type="text">-->
	      <%= text_field_tag "password_confirmation"%>
	    </div>
  	</div>


  <div class='controls'>
    <input name="commit" type="submit" value="Confirm">

   </div>
	<%end%>
<%end%>