<%if(!session[:auth])%>
<meta http-equiv="refresh" content="5; url=/home"> 
 <h11> Sign up and enjoy with your friends! (If it does not redirect, please click --><%= link_to "Here", register_path%> )</h11>
<%else%>
  <%= javascript_include_tag "bootstrap-tab" %>
  <%= javascript_include_tag "bootstrap-collapse" %>

<script type="text/javascript">
$(function () {
    $('#myTab1 a:first').tab('show');
  })
</script>

<script type="text/javascript">
$('#myCollapsible').collapse({
  toggle: false
})
</script>

<div id="main" class="group" role="main">

<div id="side">
	<div id="setting">
		<div id="side-setting-box">
			<ul id="myTab1">
			  <li class="active"><a href="#account_settings" data-toggle="tab">Account Settings</a></li>
			  <li><a href="#options_settings" data-toggle="tab">Options Settings</a></li>
			  <li><a href="#privacy" data-toggle="tab">Privacy</a></li>
			</ul>

		</div> <!--side-setting-box-->
	</div> <!--setting-->
</div> <!--side-->


<div id="setting-content">
	<div id="content">
		<div id="setting-detail">
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane active" id="account_settings">
					<div id="setting-head">
						<h1>General Account Setting</h1>
					</div>
					<%if flash[:error]%>
				    	<div class="alert alert-error"><%= flash[:error]%></div>
				    <%elsif flash[:notice]%>
				    	<div class="alert alert-success"><%= flash[:notice]%></div>
				    <%end%>
<%=form_tag '/settings' do %>
<div class="accordion" id="accordion2">

  <div class="accordion-group"> <!--email-->
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <p id="setting_to_left"> Email </p>
        <p id="setting_to_right"> Edit </p>
        <p id="setting_to_center"> <%=@account['email']%> </p>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
      	<div id="arrange">
			<%= label_tag 'Email : ' ,nil, :class => 'inline_label'%>
	    	<%= text_field_tag "email" , "#{@account['email']}", :class=>'setting-text'%>
	    	<div class="alert alert-info">
	    		<p>Email should be in form like this youremail@example.com</p>
	    	</div>
			<div class='controls'>
		    	<input name="commit1" id="commit1" type="submit" class="btn btn-primary" value="Update" style="float:right; margin-right:20px; margin-bottom:10px;">
			</div>
	 	</div>
	  </div>
    </div>
  </div>

  <div class="accordion-group"> <!--username-->
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		<p id="setting_to_left"> Username </p>
        <p id="setting_to_right"> Edit </p>
        <p id="setting_to_center"> <%=@account['username']%> </p>      
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
		<div id="arrange">
			<%= label_tag 'Username : ' ,nil, :class => 'inline_label'%>
	    	<%= text_field_tag "username" , "#{@account['username']}", :class=>'setting-text'%>
			<div class='controls'>
		    	<input name="commit2" id="commit2" type="submit" class="btn btn-primary" value="Update" style="float:right; margin-right:20px; margin-bottom:10px;">
			</div>
	 	</div>
	  </div>
    </div>
  </div>

  <div class="accordion-group"> <!--display name-->
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
		<p id="setting_to_left"> Display Name </p>
        <p id="setting_to_right"> Edit </p>
        <p id="setting_to_center"> <%=@account['display_name']%> </p>
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <div id="arrange">
			<%= label_tag 'Display Name : ' ,nil, :class => 'inline_label'%>
	    	<%= text_field_tag "display_name" , "#{@account['display_name']}", :class=>'setting-text'%>      
			<div class='controls'>
		    	<input name="commit3" id="commit3" type="submit" class="btn btn-primary" value="Update" style="float:right; margin-right:20px; margin-bottom:10px;">
			</div>	    	
	 	</div>
      </div>
    </div>
  </div>

  <div class="accordion-group"> <!--phone number-->
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
		<p id="setting_to_left"> Phone Number </p>
        <p id="setting_to_right"> Edit </p>
        <p id="setting_to_center"> <%=@account['phone_number']%> </p>
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
        <div id="arrange">
			<%= label_tag 'Phone Number : ' ,nil, :class => 'inline_label'%>
	    	<%= text_field_tag "phone_number" , "#{@account['phone_number']}", :class=>'setting-text'%>    
			<div class='controls'>
		    	<input name="commit4" id="commit4" type="submit" class="btn btn-primary" value="Update" style="float:right; margin-right:20px; margin-bottom:10px;">
			</div>	    	 
	 	</div>
      </div>
    </div>
  </div>

  <div class="accordion-group"> <!--password-->
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
		<p id="setting_to_left"> Password </p>
        <p id="setting_to_right"> Edit </p>
        <p id="setting_to_center"> Change Password </p>
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
        <div id="arrange">
			     
	    	<%= label_tag 'Password : ' ,nil, :class => 'inline_label' %>
			<%= password_field_tag "password" ,nil ,:class=>'setting-text' %>
	 	</div>

	 	 <div id="arrange">
			     
	    	<%= label_tag 'Password Confirmation : ' ,nil, :class => 'inline_label' %>
			<%= password_field_tag "password_confirmation" ,nil ,:class=>'setting-text' %>
	 	</div>
	 	<div class="alert alert-info">
	 		<p>Password has to be more than 6 characters</p>
	 	</div>

	    <div class='controls'>
		    <input name="commit5" id="commit5" type="submit" class="btn btn-primary" value="Update" style="float:right; margin-right:20px; margin-bottom:10px;">
		</div>

      </div>
    </div>
  </div>



</div><!--accordion2-->

<%end%>
				</div><!--account_settings-->

				<div class="tab-pane" id="options_settings">
					<div id="setting-head">
						<h1>Options Setting</h1>
					</div>
<div class="accordion" id="accordion3">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseSO">
		<p id="setting_to_left"> Search Options </p>
        <p id="setting_to_right"> Edit </p>
        <p id="setting_to_center"> 
       		<%=@user_preference['user_preferences'].third['value']%>
       		<%=@user_preference['user_preferences'].last['value']%>
        </p>      
      </a>
    </div>
    <div id="collapseSO" class="accordion-body collapse">
      <div class="accordion-inner">

		  <%=form_tag '/settings' do %>
        <p style="display:block; margin-bottom:0px; margin-top:5px">Radius</p>
        <%= radio_button_tag(:radius, "5") %>
        <%= label_tag '5' ,nil, :class => 'inline_label' %>
        <%= radio_button_tag(:radius, "10") %>
        <%= label_tag '10' ,nil, :class => 'inline_label' %>
        <%= radio_button_tag(:radius, "30") %>
        <%= label_tag '30' ,nil, :class => 'inline_label' %>

        <p style="display:block; margin-bottom:0px; margin-top:5px">Unit</p>
        <%= radio_button_tag(:unit, "km") %>
        <%= label_tag 'Kilometres' ,nil, :class => 'inline_label' %>
        <%= radio_button_tag(:unit, "ml") %>
        <%= label_tag 'Miles' ,nil, :class => 'inline_label' %>

        <div class='controls'>
		      <input name="commitSO" id="commitSO" type="submit" class="btn btn-primary" value="Update" style="float:right; margin-right:20px; margin-bottom:10px;">
		    </div>
      <%end%>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseMLO">
        Movies List Options
      </a>
    </div>
    <div id="collapseMLO" class="accordion-body collapse">
      <div class="accordion-inner">
        <%=form_tag '/settings' do %>
          <p style="display:block; margin-bottom:0px; margin-top:5px">Genres option is 
            <% if session[:MLO_genres]=="off"%>
              <span class="badge">off</span>
            <% else %>
              <span class="badge">on</span>
            <%end%>
          </p>
          <%= radio_button_tag(:genres, "on") %>
          <%= label_tag 'on' ,nil, :class => 'inline_label' %>
          <%= radio_button_tag(:genres, "off") %>
          <%= label_tag 'off' ,nil, :class => 'inline_label' %>

          <p style="display:block; margin-bottom:0px; margin-top:5px">Actors options is
            <% if session[:MLO_actors]=="off"%>
              <span class="badge">off</span>
            <% else %>
              <span class="badge">on</span>
            <%end%>
          </p>
          <%= radio_button_tag(:actors, "on") %>
          <%= label_tag 'on' ,nil, :class => 'inline_label' %>
          <%= radio_button_tag(:actors, "off") %>
          <%= label_tag 'off' ,nil, :class => 'inline_label' %>

          <p style="display:block; margin-bottom:0px; margin-top:5px">Directors option is
          <% if session[:MLO_directors]=="off"%>
              <span class="badge">off</span>
            <% else %>
              <span class="badge">on</span>
            <%end%>
          </p>
          <%= radio_button_tag(:directors, "on") %>
          <%= label_tag 'on' ,nil, :class => 'inline_label' %>
          <%= radio_button_tag(:directors, "off") %>
          <%= label_tag 'off' ,nil, :class => 'inline_label' %>

          <p style="display:block; margin-bottom:0px; margin-top:5px">Rating and Runtime option is
            <% if session[:MLO_raterun]=="off"%>
              <span class="badge">off</span>
            <% else %>
              <span class="badge">on</span>
            <%end%>
          </p>
          <%= radio_button_tag(:raterun, "on") %>
          <%= label_tag 'on' ,nil, :class => 'inline_label' %>
          <%= radio_button_tag(:raterun, "off") %>
          <%= label_tag 'off' ,nil, :class => 'inline_label' %>

          <div class='controls'>
            <input name="commitMLO" id="commitMLO" type="submit" class="btn btn-primary" value="Update" style="float:right; margin-right:20px; margin-bottom:10px;">
          </div>
        <%end%>
      </div>
    </div>
  </div>
<div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTLO">
        Theatres List Options
      </a>
    </div>
    <div id="collapseTLO" class="accordion-body collapse">
      <div class="accordion-inner">
        <%=form_tag '/settings' do %>
          <p style="display:block; margin-bottom:0px; margin-top:5px">Address option is
            <% if session[:TLO_address]=="off"%>
              <span class="badge">off</span>
            <% else %>
              <span class="badge">on</span>
            <%end%>
          </p>
          <%= radio_button_tag(:address, "on") %>
          <%= label_tag 'on' ,nil, :class => 'inline_label' %>
          <%= radio_button_tag(:address, "off") %>
          <%= label_tag 'off' ,nil, :class => 'inline_label' %>

          <p style="display:block; margin-bottom:0px; margin-top:5px">Phone Number option is
            <% if session[:TLO_phone_number]=="off"%>
              <span class="badge">off</span>
            <% else %>
              <span class="badge">on</span>
            <%end%>
          </p>
          <%= radio_button_tag(:phone_number, "on") %>
          <%= label_tag 'on' ,nil, :class => 'inline_label' %>
          <%= radio_button_tag(:phone_number, "off") %>
          <%= label_tag 'off' ,nil, :class => 'inline_label' %>

          <p style="display:block; margin-bottom:0px; margin-top:5px">Distance option is
            <% if session[:TLO_distance]=="off"%>
              <span class="badge">off</span>
            <% else %>
              <span class="badge">on</span>
            <%end%>
          </p>
          <%= radio_button_tag(:distance, "on") %>
          <%= label_tag 'on' ,nil, :class => 'inline_label' %>
          <%= radio_button_tag(:distance, "off") %>
          <%= label_tag 'off' ,nil, :class => 'inline_label' %>

          <div class='controls'>
            <input name="commitTLO" id="commitTLO" type="submit" class="btn btn-primary" value="Update" style="float:right; margin-right:20px; margin-bottom:10px;">
          </div>
        <%end%>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseMO">
        Map Options
      </a>
    </div>
    <div id="collapseMO" class="accordion-body collapse">
      <div class="accordion-inner">
        <%=form_tag '/settings' do %>
          <p style="display:block; margin-bottom:0px; margin-top:5px">Liked Theatres option is
          <% if session[:MO_likedt]=="off"%>
              <span class="badge">off</span>
            <% else %>
              <span class="badge">on</span>
            <%end%>
          </p>
          <%= radio_button_tag(:likedt, "on") %>
          <%= label_tag 'on' ,nil, :class => 'inline_label' %>
          <%= radio_button_tag(:likedt, "off") %>
          <%= label_tag 'off' ,nil, :class => 'inline_label' %>

          <p style="display:block; margin-bottom:0px; margin-top:5px">Nearby Theatres option is
            <% if session[:MO_near]=="off"%>
              <span class="badge">off</span>
            <% else %>
              <span class="badge">on</span>
            <%end%>
          </p>
          <%= radio_button_tag(:near, "on") %>
          <%= label_tag 'on' ,nil, :class => 'inline_label' %>
          <%= radio_button_tag(:near, "off") %>
          <%= label_tag 'off' ,nil, :class => 'inline_label' %>

          <p style="display:block; margin-bottom:0px; margin-top:5px">Disliked Theatres option is
            <% if session[:MO_dist]=="off"%>
              <span class="badge">off</span>
            <% else %>
              <span class="badge">on</span>
            <%end%>
          </p>
          <%= radio_button_tag(:dist, "on") %>
          <%= label_tag 'on' ,nil, :class => 'inline_label' %>
          <%= radio_button_tag(:dist, "off") %>
          <%= label_tag 'off' ,nil, :class => 'inline_label' %>
          <div class='controls'>
            <input name="commitMO" id="commitMO" type="submit" class="btn btn-primary" value="Update" style="float:right; margin-right:20px; margin-bottom:10px;">
          </div>
        <%end%>
      </div>
    </div>
  </div>

</div>
				</div><!--options_settings-->

				<div class="tab-pane" id="privacy">
					<div id="setting-head">
						<h1>Privacy</h1>
					</div>

				</div><!--privacy-->
			</div><!--tab-content-->

		</div><!--setting-detail-->
	</div><!--content-->
</div><!--setting-content-->



	      


</div>
<%end%>