<div id="home-content">
			<h1 class="title">
				<%=@st['name']%>
			</h1>
	<div id="showtheatre-content">
			<div id="showtheatre-info">
				<ul>
					<%if cookies.signed[:TLO_address]=="false"%>
  			  		<%else%>
					<li> Address : <%=@st['location']['address']%></li>
					<li> City : <%=@st['location']['city']%></li>
					<li> Country : <%=@st['location']['country']%></li>
					<li> Postal Code : <%=@st['location']['postal_code']%></li>
					<li> Province : <%=@st['location']['province']%></li>
					<%end%>
					<li> Latitude : <%=@st['location']['latitude']%></li>
					<li> Longitude :<%=@st['location']['longitude']%></li>
					<%if cookies.signed[:TLO_distance]=="false"%>
  			  		<%else%>
					<li> Distance : <%=@st['distance']%></li>
					<%end%>
					<%if cookies.signed[:TLO_phone_number]=="false"%>
  			  		<%else%>
					<li> Phone Number : <%=@st['phone_number']%></li>
					<%end%>
					<%if (@st['liked']==true && cookies.signed[:MO_liked_theatres]=="false")%>
					<%elsif (@st['liked']==false && @st['not_interested']==false && cookies.signed[:MO_nearby_theatres]=="false")%>
					<%elsif (@st['not_interested']==true && cookies.signed[:MO_disliked_theatres]=="false")%>
					<%else%>	
<script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb5IpzvRHH678YrbdxmQyR4J5opeTKlQk&sensor=false">
</script>	
<script type="text/javascript">
  function initialize() {
    var myLatlng = new google.maps.LatLng(<%=@st['location']['latitude']%>,<%=@st['location']['longitude']%>);
    var myOptions = {
      zoom: 16,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
    
    var marker = new google.maps.Marker({
        position: myLatlng, 
        map: map,
        title:"<%=@st['name']%>"
    });   
  }
</script>
<script type="text/javascript">
	jQuery(document).ready(function() {
		 initialize();
	});
</script>
					<div id="map-canvas"></div>
					<%end%>
				</ul>
			</div>
			<%@st['movies'].each do |movie|%>
				<div class="movie-items1">
					<% if movie['photos'].length >0 %>
	                   	<%photo = movie['photos'].first%> 
	                    		<%if photo['poster']==true%>
			                        <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
			                            <div class="movie-items2">
											<div id="movie-items-pics">
				                            	<img src="<%=photo['url']%>" class="img-rounded">
				                            </div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>		              
				                              	<div id="hiding">
				                              		<p>
													<%movie['genres'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
													<p>
													<%movie['directors'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>

				                            	</div>
				                            </div>
			                            </div>
			                        <%end%>
			                    <%else%>
			                        <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
			                            <div class="movie-items2">
			                        		<div id="movie-items-pics">
			                              		<img src="/assets/no_image.gif" class="img-rounded"> 
											</div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>					 
			                              		<div id="hiding">
			                              			<p>
													<%movie['genres'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
													<p>
													<%movie['directors'].each do |a2|%>
														<%=a2['name']%>
													<%end%>
													</p>
			                            		</div>
			                            	</div>
			                            </div>                           
			                        <%end%>
			                      <%end%>
	                  		<%elsif movie['photos'].length==0 %>
			                    <%=link_to :action=>"showmovie" , :controller=>"static_pages" , :showid => movie['id'] do%>
			                        <div class="movie-items2">
			                        	<div id="movie-items-pics">
			                            	<img src="/assets/no_image.gif" class="img-rounded">
			                       		</div>
				                        <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
				                            <div id="hiding">
				                            	<p>
												<%movie['genres'].each do |a2|%>
													<%=a2['name']%>
												<%end%>
												</p>
												<p>
												<%movie['directors'].each do |a2|%>
													<%=a2['name']%>
												<%end%>
												</p>
				                            </div>
				                        </div>
			                        </div>                         
			                    <%end%>                 		
	                  		<%end%>    
	                  	</div>    	
		<%end%>
	</div>
</div>


