<div id="side">
    <div id="buddy-side">
      <h1> Buddies </h1>
      <div id="side-buddy-box">
        <p> Query buddies here, if not member says you have no buddies please register</p>
      </div>
    </div>
 </div>

<div id="home-content">
	<div id="content">
		<%@sm['movies'].each do |a1|%>
			<%if a1['id'] == @id_showmovie%> 
				<h1 class="title">
					<%@a2=a1['title']%>
					<%=a1['title']%>
				</h1>
			<%end%>
		<%end%>
		<div id="showmovie-content">
			<%@sm['movies'].each do |a1|%>
				<%if a1['id'] == @id_showmovie%> 
				<!--<div id="trailer">-->
					<%@trailer="http://www.youtube.com/embed/" +a1['youtube_trailer'] +"?feature=player_detailpage"%>
				<!--</div>-->
					<div id="movie-pic">
						<% if(a1['photos'].length >0) %>
			                <%@photo = a1['photos'].first%>
			                <div class="movie-items">
				                <a href="#myModal" data-toggle="modal" data-backdrop="false">
				                	<span class="play"></span>
				                	<img class="img-rounded" width="140" height="210" src="<%=@photo['url']%>">
				                </a>
				               	<div id="myModal" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				                	<div class="modal-header">
    									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    									<h1 class="title">
    										<%=a1['title']%>
    									</h1>
    								</div>
    								<div class="modal-body">
				                		<iframe width="640" height="360" src="<%=@trailer%>" frameborder="0" allowfullscreen></iframe>
				               		</div>
				                </div>

			                <%@poster=@photo['url']%>
			                </div>
			            <%elsif(a1['photos'].length ==0) %>
			            	<%@photo = a1['photos'].first%>
			            	<div class="movie-items">
			            		<a href="#myModal" data-toggle="modal" data-backdrop="false">
				                	<span class="play"></span>
				                	<img class="img-rounded" width="140" height="210" src="/assets/no_image.gif">
				                </a>
				               	<div id="myModal" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				                	<div class="modal-header">
    									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    									<h1 class="title">
    										<%=@a2%>
    									</h1>
    								</div>
    								<div class="modal-body">
				                		<iframe width="640" height="360" src="<%=@trailer%>" frameborder="0" allowfullscreen></iframe>
				               		</div>
				                </div>
			                <%@poster="/assets/no_image.gif"%>
			                </div>
			            <%end%>	
					</div>
					<div id="movie-slide">
						<div class="movie-slide-items">
							<div id="myCarousel" class="carousel slide">
				  				<div class="carousel-inner">
									<%@sm['movies'].each do |a1|%>
										<%if a1['id'] == @id_showmovie%>
												<div align="center" class="item active" id = "movie-slide">
													<img class="img-rounded" src="<%=@photo['url']%>">
												</div>
											<%a1['photos'].each do |a2|%>
												<div align="center" class="item" id = "movie-slide">
													<img class="img-rounded" src="<%=a2['url']%>">
												</div>
											<%end%>
										<%end%>
			  						<%end%>
		  						</div>
		  						<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  						<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  							</div>
  						</div>
  					</div>

					<div id="movie-details">
						<div id="content">
						<h1> Information </h1>
						<h3> Release Date </h3>
							<p><%=a1['release']%></p>
						<h3> Sypnosis </h3>
							<p><%=a1['synopsis']%></p>	
						<h3> Genres </h3>
						<%a1['genres'].each do |a2|%>
							<p><%=a2['name']%></p>
						<%end%>
						<h3> Director </h3>
						<%a1['directors'].each do |a2|%>
							<p><%=a2['name']%></p>
						<%end%>
						<h3> Actors </h3>
						<%a1['actors'].each do |a2|%>
							<p><%=a2['name']%></p>
						<%end%>
						<h3> Rate </h3>
						<%@rate=a1['rating']%>
						<p><%=a1['rating']%></p>
						</div>
					</div>	
				<%end%>
			<%end%>

			<div id="theatre-detail">
				<%@theatres_for_movie['theatres'].each do |tfm|%>
					
					<div id="result-today">
						<h2 class="cinema-name"> <%=tfm['name']%> </h2>
						<div id="result-item">
							<h3 class="movie-name">
								<%=@a2%>
							</h3>
							<div id="result-info">
								<div id="item">
									<div id="picture">
										<img width="80" height="auto" src="<%= @poster%>">
									</div>
									<div class="info group">
										<h3> Rate </h3>
										<p class="btn btn-inverse"><%=@rate%></p>
										<div class="showtime group">
											<%tfm['showtimes'].each do |showtime|%>
												<%if showtime['date'].to_date == Time.now.to_date%>
													<ul>										<li>
														<p class="showtime"><%=showtime['start_time']%></p>
													</li>
													</ul>
												<%end%>
											<%end%>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!--content-->
				<%end%>
			</div>
		</div>
	</div>
</div>