<div id="home-content">
	<div id="content">
		<h1 class="title">
			<%@a2=@sm['title']%>
			<%=@sm['title']%>
		</h1>
		<div id="showmovie-content">
					<%@trailer="http://www.youtube.com/embed/" +@sm['youtube_trailer'] +"?feature=player_detailpage"%>
				<div id="movie-pic-slide">
					<div id="movie-pic">
						<% if(@sm['photos'].length >0) %>
			                <%@photo = @sm['photos'].first%>
			                <div class="movie-items">
				                <a href="#myModal1" data-toggle="modal" data-backdrop="false">
				                	<span class="play"></span>
				                	<img class="img-rounded" width="140" height="210" src="<%=@photo['url']%>">
				                </a>
				               	<div id="myModal1" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				                	<div id="modal-header" class="modal-header">
    									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    									<h1 class="title">
    										<%=@sm['title']%>
    									</h1>
    								</div>
    								<div id="modal-body" class="modal-body">
				                		<iframe width="960" height="480" src="<%=@trailer%>" frameborder="0" allowfullscreen></iframe>
				               		</div>
				                </div>

			                <%@poster=@photo['url']%>
			                </div>
			            <%elsif(@sm['photos'].length ==0) %>
			            	<%@photo = @sm['photos'].first%>
			            	<div class="movie-items">
			            		<a href="#myModal1" data-toggle="modal" data-backdrop="false">
				                	<span class="play"></span>
				                	<img class="img-rounded" width="140" height="210" src="/assets/no_image.gif">
				                </a>
				               	<div id="myModal1" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				                	<div id="modal-header" class="modal-header">
    									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    									<h1 class="title">
    										<%=@sm['title']%>
    									</h1>
    								</div>
    								<div id="modal-body" class="modal-body">
				                		<iframe width="960" height="480" src="<%=@trailer%>" frameborder="0" allowfullscreen></iframe>
				               		</div>
				                </div>
			                <%@poster="/assets/no_image.gif"%>
			                </div>
			            <%end%>	
					</div>
					<div id="movie-slide">
						<div class="movie-slide-items">
							<div id="myCarousel" class="carousel slide">
				  				<div class="carousel-inner">
											<% photos = @sm['photos'].select{|photo| photo['poster'] == false} %>
											<% if photos.length > 0 %> 
											  <div class="item active" id ="movie-slide">
												<img class="img-rounded" src="<%=photos.first['url']%>">
											  </div>
											<%elsif(@sm['photos'].length ==0) %>
											  <div class="item active" id ="movie-slide">
												<img class="img-rounded" src="/assets/no_image.gif">
											  </div>
											<% end %>
											<% photos.each do |photo| %>
											  <% if photo == photos.first %>
											    <% next %>
											  <% end %>
												<div class="item" id = "movie-slide">
													<img class="img-rounded" src="<%=photo['url']%>">
												</div>
											<% end %>
											
		  						</div>
		  						<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  						<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  							</div>
  						</div>
  					</div>
  				</div>
					<div id="movie-details">
						<div id="content">
						<%if @sm['buddies']%>
							<%if @sm['buddies'].length==1%>
								<%@sm['buddies'].each do |buddy|%>
									<p> Your movies buddy <a><%=buddy['display_name']%></a> likes this movies</p>
								<%end%>
							<%elsif @sm['buddies'].length>1%>
								<p> 
									Your movies buddy <a><%=@sm['buddies'].first['display_name']%> </a> and 
									<a href="#other_modal" data-toggle="modal" data-backdrop="false">other</a> like this movie 
								</p>
								<div id="other_modal" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
									<div class="modal-header" style="background-color:#2E2E2E;margin:0;padding:0 0 0 10px;">
					    				<h3 style="color:white;">Your movies buddies who like this</h3>
					    			</div>
					    			<div class="modal-body">
					    				<%@sm['buddies'].each do |buddy|%>
					    					<%if buddy==@sm['buddies'].first%>
					    					<%next%>
					    					<%end%>
					    					<p><%=buddy['display_name']%></p>
					    				<%end%>
					    			</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal">Close</button>
									</div>
					    		</div>
							<%end%>
						<%end%>

						<h1> Information </h1>
						<h3> Release Date </h3>
							<p><%=@sm['release']%></p>
						<h3> Sypnosis </h3>
							<p><%=@sm['synopsis']%></p>	
						<%if cookies.signed[:MLO_genres]=="false"%>
						<%else%>
							<h3> Genres </h3>
							<%@sm['genres'].each do |a2|%>
								<p><%=a2['name']%></p>
							<%end%>
						<%end%>
						<%if cookies.signed[:MLO_directors]=="false"%>
						<%else%>
							<h3> Director </h3>
							<%@sm['directors'].each do |a2|%>
								<p><%=a2['name']%></p>
							<%end%>
						<%end%>
						<%if cookies.signed[:MLO_actors]=="false"%>
						<%else%>
							<h3> Actors </h3>
							<%@sm['actors'].each do |a2|%>
								<p><%=a2['name']%></p>
							<%end%>
						<%end%>
						<%if cookies.signed[:MLO_raterun]=="false"%>
						<%else%>
							<h3> Rate </h3>
							<p><%=@sm['rating']%></p>
							<h3> Runtime </h3>
							<p><%=@sm['runtime']%></p>
						<%end%>
						</div>
					</div>	


			<div id="theatre-detail">
				<%@theatres_for_movie['theatres'].each do |tfm|%>					
					<div id="result-today">
						<h2 class="cinema-name"> <%=tfm['name']%> </h2>
						<div id="result-item">
							<h3 class="movie-name">
								<%=@a2%>
							</h3>
							<div id="result-info">
								<div id="item">
									<div id="picture">
										<img width="80" height="auto" src="<%= @poster%>">
									</div>
									<div class="info group">
										<div class="showtime group">
											<%tfm['showtimes'].each do |showtime|%>
												<%if showtime['date'].to_date == Time.now.to_date%>
													<ul>							
														<li>
															<p> Date </p>
															<p class="btn btn-inverse"><%=showtime['date']%>
															</p>
															<p> Time </p>		
															<p class="showtime"><%=showtime['start_time']%>
															</p>
														</li>
													</ul>
												<%end%>
											<%end%>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!--content-->
				<%end%>
			</div>
		</div>
	</div>
</div>