<div id="theatre-content">
	<div id="content">
		<h1 class="title"> Theatres </h1>
		<div id="theatre-show">
			<div class="theatres-list group">
				<div class="theatres-filters">
					<div class="by-near">
						<ul id="myTab">
							<h2> Liked </h2>
							<% @lt['theatres'].each do |liked| %>
  								<li><a href="#<%=liked['id']%>"  data-toggle="tab"><%=liked['name']%></a></li>	
							<%end%>

							<h2> Nearby </h2>
							<% @nt['theatres'].each do |nearby| %>
  								<li><a href="#<%=nearby['id']%>"  data-toggle="tab"><%=nearby['name']%></a></li>	
							<%end%>

							<h2> Unliked </h2>
							<% @nit['theatres'].each do |unliked| %>
  								<li><a href="#<%=unliked['id']%>"  data-toggle="tab"><%=unliked['name']%></a></li>	
							<%end%>
						</ul>
					</div><!--by-near-->
				</div><!--theatres-filters-->
			</div><!--theatres-list group-->
				<div class="theatres-info">
					<!--liked theatres-->
					<% @lt['theatres'].each do |liked| %>
  						<div class="tab-pane" id="<%=liked['id']%>">
  							<h2><%=liked['name']%></h2>
  							<ul>
  								<%if cookies.signed[:TLO_address]=="false"%>
  			  					<%else%>
	  								<li> Address : </li>
	  								<li><%=liked['location']['address']%> <%=liked['location']['city']%>
	  								</li>
	  							<%end%>
	  							<%if cookies.signed[:TLO_phone_number]=="false"%>
  			  					<%else%>
  									<li>Phone number : <%=liked['phone_number']%></li>
  								<%end%>
  								<%if cookies.signed[:TLO_distance]=="false"%>
  			  					<%else%>
  									<li>Distance : <%=liked['distance']%></li>
								<%end%>
  								<li><%=link_to "More Information", :action=>"showtheatre" , :controller=>"static_pages" , :showid => liked['id']%>
  								</li>
								<%=form_tag '/theatres' do %>
									<li><button name="soso1" id="soso1" value="<%=liked['id']%>" class='btn btn-mini'> <i class="icon-remove"></i></button>
							        <button name="unliked" id="unliked" value="<%=liked['id']%>" class='btn btn-mini'> <i class="icon-thumbs-down"></i></button></li>
								<%end%>
  							</ul>
  						</div>
  					<%end%>
  					<!--nearby-theatres-->
					<% @nt['theatres'].each do |nearby| %>
  						<div class="tab-pane" id="<%=nearby['id']%>">
  							<h2><%=nearby['name']%></h2>
  							<ul>
  								<%if cookies.signed[:TLO_address]=="false"%>
  			  					<%else%>
	  								<li> Address : </li>
	  								<li><%=nearby['location']['address']%> <%=nearby['location']['city']%>
	  								</li>
	  							<%end%>	  								
  								<%if cookies.signed[:TLO_phone_number]=="false"%>
  			  					<%else%>
  									<li>Phone number : <%=nearby['phone_number']%></li>
  								<%end%>
  								<%if cookies.signed[:TLO_distance]=="false"%>
  			  					<%else%>
  									<li>Distance : <%=nearby['distance']%></li>
								<%end%>
  								<li><%=link_to "More Information", :action=>"showtheatre" , :controller=>"static_pages" , :showid => nearby['id']%>
  								</li>
								<%=form_tag '/theatres' do %>
									<li><button name="liked" id="liked" value="<%=nearby['id']%>" class='btn btn-mini'> <i class="icon-thumbs-up"></i></button>
							        <button name="unliked" id="unliked" value="<%=nearby['id']%>" class='btn btn-mini'> <i class="icon-thumbs-down"></i></button></li>
								<%end%>
  							</ul>
  						</div>
  					<%end%>
  					<!--not-interested-theatres-->
					<% @nit['theatres'].each do |unliked| %>
  						<div class="tab-pane" id="<%=unliked['id']%>">
  							<h2><%=unliked['name']%></h2>
  							<ul>
  								<%if cookies.signed[:TLO_address]=="false"%>
  			  					<%else%>
	  								<li> Address : </li>
	  								<li><%=unliked['location']['address']%> <%=unliked['location']['city']%>
	  								</li>
  								<%end%>
  								<%if cookies.signed[:TLO_phone_number]=="false"%>
  			  					<%else%>
  									<li>Phone number : <%=unliked['phone_number']%></li>
  								<%end%>
  								<%if cookies.signed[:TLO_distance]=="false"%>
  			  					<%else%>
  									<li>Distance : <%=unliked['distance']%></li>
								<%end%>
  								<li><%=link_to "More Information", :action=>"showtheatre" , :controller=>"static_pages" , :showid => unliked['id']%>
  								</li>
								<%=form_tag '/theatres' do %>
									<li><button name="liked" id="liked" value="<%=unliked['id']%>" class='btn btn-mini'> <i class="icon-thumbs-up"></i></button>
							        <button name="soso2" id="soso2" value="<%=unliked['id']%>" class='btn btn-mini'> <i class="icon-remove"></i></button></li>
								<%end%>
  							</ul>
  						</div>
  					<%end%>

				</div><!--theatres-info-->
			</div><!--theatres-show-->
		
	</div>
</div><!--theatre-content-->
