<html>
<head>

</head>
<body>
<h1> Liked Theatres </h1>
<table>
<tr>
<th> Name </th>
<th> Location Description </th>
<th> Market </th>
<th> Adult Price </th>
<th> Child Price </th>
<th> Map </th>
</tr>
<%if(session[:auth] || session[:guest_auth])%>
<% @lt['theatres'].each do |liked| %>
	<tr>
		<td> <%= liked['name'] %> </td>
		<td> <%= liked['location_description'] %> </td>
		<td> <%= liked['market'] %> </td>
		<td> <%= liked['adult_price'] %> </td>
		<td> <%= liked['child_price'] %> </td>

		<td> <a href= "http://maps.googleapis.com/maps/api/staticmap?center=<%=liked['location']['address']%>,<%=liked['location']['city']%>&zoom=15&size=500x500&markers=color:red%7Clabel:S%7C<%=liked['location']['address']%>,<%=liked['location']['city']%>&sensor=false&key=AIzaSyDb5IpzvRHH678YrbdxmQyR4J5opeTKlQk" > 
			<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=liked['location']['address']%>,<%=liked['location']['city']%>&zoom=11&size=200x200&markers=color:red%7Clabel:S%7C<%=liked['location']['address']%>,<%=liked['location']['city']%>&sensor=false"> Click </a></td>
	</tr>
<%end%>
</table>

<h1> Nearby Theatres </h1>
<table>
<tr>
<th> Name </th>
<th> Location Description </th>
<th> Market </th>
<th> Adult Price </th>
<th> Child Price </th>
<th> Map </th>
</tr>

<% @nt['theatres'].each do |nearby| %>
	<tr>
		<td> <%= nearby['name'] %> </td>
		<td> <%= nearby['location_description'] %> </td>
		<td> <%= nearby['market'] %> </td>
		<td> <%= nearby['adult_price'] %> </td>
		<td> <%= nearby['child_price'] %> </td>
		<td> <a href= "http://maps.googleapis.com/maps/api/staticmap?center=<%=nearby['location']['address']%>,<%=nearby['location']['city']%>&zoom=15&size=500x500&markers=color:red%7Clabel:S%7C<%=nearby['location']['address']%>,<%=nearby['location']['city']%>&sensor=false&key=AIzaSyDb5IpzvRHH678YrbdxmQyR4J5opeTKlQk"  > 
			<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=nearby['location']['address']%>,<%=nearby['location']['city']%>&zoom=11&size=200x200&markers=color:red%7Clabel:S%7C<%=nearby['location']['address']%>,<%=nearby['location']['city']%>&sensor=false"> Click </a></td>
<%end%>
</table>

<h1> Not Interested Theatres </h1>
<table>
<tr>
<th> Name </th>
<th> Location Description </th>
<th> Market </th>
<th> Adult Price </th>
<th> Child Price </th>
<th> Map </th>
</tr>

<% @nit['theatres'].each do |nit1| %>
	<tr>
		<td> <%= nit1['name']%> </td>
		<td> <%= nit1['location_description'] %> </td>
		<td> <%= nit1['market'] %> </td>
		<td> <%= nit1['adult_price'] %> </td>
		<td> <%= nit1['child_price'] %> </td>
		<td> <a href= "http://maps.googleapis.com/maps/api/staticmap?center=<%=nit1['location']['address']%>,<%=nit1['location']['city']%>&zoom=15&size=500x500&markers=color:red%7Clabel:S%7C<%=nit1['location']['address']%>,<%=nit1['location']['city']%>&sensor=false&key=AIzaSyDb5IpzvRHH678YrbdxmQyR4J5opeTKlQk"> 
			<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=nit1['location']['address']%>,<%=nit1['location']['city']%>&zoom=11&size=200x200&markers=color:red%7Clabel:S%7C<%=nit1['location']['address']%>,<%=nit1['location']['city']%>&sensor=false"> Click </a></td>
<%end%>	
</table>
<%else%>
<p> please login or register </p>
<%end%>
</body>
</html>