<div id="home-content">
		<div id="movies">
			<h1 class="title"> Movies </h1>
			<div id="nowshowing">
				<div class="group">
					<% @im['movies'].each do |movie| %> 
						<div class="movie-items1">
							<% if(movie['photos'].length >0) %>
	                    	<%photo = movie['photos'].first%> 
	                    		<%if photo['poster']==true%>
	                    			<a href="#modal_trailer" data-toggle="modal">
			                        	<div class="movie-items2">
											<div id="movie-items-pics">
											
				                            	<img src="<%=photo['url']%>" class="img-rounded">
				                        	</div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
				                            </div>
			                            </div>
			                        </a>
				                    <div id="modal_trailer" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					                	<div id="modal-header" class="modal-header">
	    									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    									<h1 class="title">
	    										<%=@rm['title']%>
	    									</h1>
	    								</div>
	    								<div id="modal-body" class="modal-body">
					                		
					               		</div>
					                </div>
			                    <%else%>
	                    			<a href="#modal_trailer" data-toggle="modal">
			                            <div class="movie-items2">
			                        		<div id="movie-items-pics">
			                              		<img src="/assets/no_image.gif" class="img-rounded">       
											</div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
			                              	</div>
			                            </div> 
			                       	</a>
			                       	<div id="modal_trailer" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					                	<div id="modal-header" class="modal-header">
	    									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    									<h1 class="title">
	    										<%=@rm['title']%>
	    									</h1>
	    								</div>
	    								<div id="modal-body" class="modal-body">
					                		
					               		</div>
					                </div>                                    
			                    <%end%>
	                  		<%elsif movie['photos'].length==0%>
	                    		<a href="#modal_trailer" data-toggle="modal">
			                        <div class="movie-items2">
			                        	<div id="movie-items-pics">
			                            	<img src="/assets/no_image.gif" class="img-rounded">             
			                       		</div>
				                        <div id="movie-items-info-tiny">
					                        <p style="font-weight:bold;"><%=movie['title']%></p>
				                        </div>
			                        </div>     
			                    </a>                    
	                  		<%end%>    
	                  	</div>    				
        			<%end%><!--imloop-->


					<% @rm['movies'].each do |movie| %> 
						<%@trailer="http://www.youtube.com/embed/" +movie['youtube_trailer'] +"?feature=player_detailpage"%>

						<div class="movie-items1">
							<% if(movie['photos'].length >0) %>
	                    	<%photo = movie['photos'].first%> 
	                    		<%if photo['poster']==true%>
	                    			<a href="#modal_trailer" data-toggle="modal">

			                        	<div class="movie-items2">
											<div id="movie-items-pics">
											
				                            	<img src="<%=photo['url']%>" class="img-rounded">
				                        	</div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
				                            </div>
			                            </div>
			                        </a>
				                    <div id="modal_trailer" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					                	<div id="modal-header" class="modal-header">
	    									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    									<h1 class="title">
	    										<%=@rm['title']%>
	    									</h1>
	    								</div>
	    								<div id="modal-body" class="modal-body">
					               		</div>
					                </div>
			                    <%else%>
	                    			<a href="#modal_trailer" data-toggle="modal">
			                            <div class="movie-items2">
			                        		<div id="movie-items-pics">
			                              		<img src="/assets/no_image.gif" class="img-rounded">       
											</div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
			                              	</div>
			                            </div> 
			                       	</a>
			                       	<div id="modal_trailer" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					                	<div id="modal-header" class="modal-header">
	    									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    									<h1 class="title">
	    										<%=@rm['title']%>
	    									</h1>
	    								</div>
	    								<div id="modal-body" class="modal-body">
					                		
					               		</div>
					                </div>                                    
			                    <%end%>
	                  		<%elsif movie['photos'].length==0%>
	                    		<a href="#modal_trailer" data-toggle="modal">
			                        <div class="movie-items2">
			                        	<div id="movie-items-pics">
			                            	<img src="/assets/no_image.gif" class="img-rounded">             
			                       		</div>
				                        <div id="movie-items-info-tiny">
					                        <p style="font-weight:bold;"><%=movie['title']%></p>
				                        </div>
			                        </div>     
			                    </a>                    
	                  		<%end%>    
	                  	</div>    				
        			<%end%><!--rmloop-->

        			<% @nim['movies'].each do |movie| %> 
						<div class="movie-items1">
							<% if(movie['photos'].length >0) %>
	                    	<%photo = movie['photos'].first%> 
	                    		<%if photo['poster']==true%>
	                    			<a href="#modal_trailer" data-toggle="modal">
			                        	<div class="movie-items2">
											<div id="movie-items-pics">
											
				                            	<img src="<%=photo['url']%>" class="img-rounded">
				                        	</div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
				                            </div>
			                            </div>
			                        </a>
				                    <div id="modal_trailer" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					                	<div id="modal-header" class="modal-header">
	    									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    									<h1 class="title">
	    										<%=@rm['title']%>
	    									</h1>
	    								</div>
	    								<div id="modal-body" class="modal-body">
					                		
					               		</div>
					                </div>
			                    <%else%>
	                    			<a href="#modal_trailer" data-toggle="modal">
			                            <div class="movie-items2">
			                        		<div id="movie-items-pics">
			                              		<img src="/assets/no_image.gif" class="img-rounded">       
											</div>
				                            <div id="movie-items-info-tiny">
					                            <p style="font-weight:bold;"><%=movie['title']%></p>
			                              	</div>
			                            </div> 
			                       	</a>
			                       	<div id="modal_trailer" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					                	<div id="modal-header" class="modal-header">
	    									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    									<h1 class="title">
	    										<%=@rm['title']%>
	    									</h1>
	    								</div>
	    								<div id="modal-body" class="modal-body">
					                		
					               		</div>
					                </div>                                    
			                    <%end%>
	                  		<%elsif movie['photos'].length==0%>
	                    		<a href="#modal_trailer" data-toggle="modal">
			                        <div class="movie-items2">
			                        	<div id="movie-items-pics">
			                            	<img src="/assets/no_image.gif" class="img-rounded">             
			                       		</div>
				                        <div id="movie-items-info-tiny">
					                        <p style="font-weight:bold;"><%=movie['title']%></p>
				                        </div>
			                        </div>     
			                    </a>                    
	                  		<%end%>    
	                  	</div>    				
        			<%end%><!--nimloop-->
        		</div>
			</div>
		</div><!--movies-->
	</div><!--home-content-->




<script>
$('#modal_trailer').on('show', function () {
  $('div.modal-body').html('<iframe id="trailer" width="480" height="360" src="<%=@trailer%>" frameborder="0" >allowfullscreen </iframe>');  
});
$('#modal_trailer').on('hide', function () {
  $('div.modal-body').html('');  

});
</script>