<h1> Genre Preferences </h1>
<%=form_tag '/index' do %>
    <div class='control-group'>
      <div class='controls'>
        <select id = "genre" name = "genre">
          <%@all_genres['genres'].each do |all_genre| %>
          <%@x1= all_genre['name']%>

          <option name = "<%=@x1%>" id=genre value="<%=@x1%>"> <%=@x1%></option>
          <%end%>
        </select>
        
       

        <%= label_tag("Rate") %>
        <%= text_field_tag "score"%>
    </div>
  </div>
    <input name="commit" type="submit" value="Update">
    <%end%>


<table>
<tr>
<td> Genre </td>
<td> Score </td>
</tr>
  <% @gp.each do |gp1| %>
<tr>

    <td> <%= gp1['genre'] %> </td>
    <td> <%= gp1['score'] %> </td>

    <%=form_tag '/index' do %>

    <td> 
      <button id="genre_delete" name="genre_delete" value="<%=gp1['genre']%>">Delete
      </button>  
    </td>
    <%end%>
</tr>
    <%end%>
    
  
</table>


<%=form_tag '/index' do %>
    <div class='control-group'>
      <div class='controls'>
        <select id = "genre_create" name = "genre_create">
          <%@all_genres['genres'].each do |all_genre| %>
          <%@x1= all_genre['name']%>

          <option name = "<%=@x1%>" id=genre value="<%=@x1%>"> <%=@x1%></option>
          <%end%>
        </select>
        
        <%= label_tag("Rate") %>
        <%= text_field_tag "score"%>
    </div>
  </div>
    <input name="commit" type="submit" value="Create Preference" onClick="history.go(0)">
    <%end%>


<table>
<h1> Director Preferences </h1>

<tr>
<td> Director </td>
<td> Score </td>
</tr>
  <% @dp.each do |dp1| %>
<tr>
    <td> <%= dp1['director'] %> </td>
    <td> <%= dp1['score'] %> </td>
</tr>
    <%end%>
</table>

<table>
<h1> Actor Preferences </h1>

<tr>
<td> Actor </td>
<td> Score </td>
</tr>
  <% @ap.each do |ap1| %>
<tr>
    <td> <%= ap1['director'] %> </td>
    <td> <%= ap1['score'] %> </td>
</tr>   
    <%end%>


</table>
