<footer id="foot">
		<li><%= link_to "Movies", movies_path %> </li>
		<li><%= link_to "Theatres", theatres_path %> </li>
		<li><%= link_to "Buddies", buddies_path %> </li>
		<li><%= link_to "Preferences", preferences_path %> </li>
		<li><%= link_to "AboutUs", "#" %> </li>
		<li><%= link_to "ContactUs", "#" %> </li>

</footer>
	<div id="copy-right">
		<p> Copyright © 2013 Easily Experience, Ltd. All original contents of this site including text, graphics, interfaces and design are designed by sPalm.</p>
	</div>