


<div id="quick-showtime">
	<div class="navbar-inner">
		<ul class="nav left">
			<div role="navigation">
			<li class="dropdown">
				<a id="drop1" class="brand dropdown-toggle" href="#" role="button" data-toggle="dropdown"><img src="/assets/Flavu-Logo-shadow.png" width="25" height="25">Flavu</a><b class="caret"></b>
			
				<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Blog</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Contact</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">AboutUs</a></li>
				</ul>
			</li>
		</div>
			<li><%= link_to "News" , news_path%></li>
			<li><%= link_to "Reviews" , reviews_path%></li>
			<li><%= link_to "Showtimes" , showtimes_path%></li>
			<li><%= link_to "Box Office" , boxoffice_path%></li>
			<li>
				<%=form_tag '/buddies' do%>
					<input id="request" name="request" type="text" placeholder="send your request">
					<button id="bt_find_friends" name="commit" class="icon-search" type="submit" title="send your request"></button>
				<%end%>
			</li>
			

		</ul>
		<ul class="nav right">
			<li class="stat"> Available On </li>
			<li><a href="#"><img src="/assets/apple-logo.png" width="35" height="35"></a></li>
			<li><a href="#"><img src="/assets/android-logo.png" width="35" height="35"></a></li>
		</ul>

		<!--<h1><img src="/assets/showtime.png"></h1>
		<div id="quick-showtime-form">
			<%=form_tag '/showtime' do %>
		    	<div id="quick-movies">
			        <select id = "movie" name = "movie">
			        <option name = "all_movies" id=movie value="all_movies"> All Movies</option><h1>at</h1>
			        <!--<%#@rm['movies'].each do |movie| %>
			        <%#@xmovies= movie['title']%>
			        <%#@id_movie= movie['id']%>
			        <option name = "<%=@id_movie%>" id=movie value="<%=@id_movie%>"> <%=@xmovies%></option>
			        <%#end%>-->
			        <!--</select>
		     	</div>

		     	<div id="quick-theatres">
			        <select id = "theatre" name = "theatre">
			        <option name = "all_theatres" id="theatre" value="all_theatres"> All Theatres</option>
			         <!--<%#@nt['theatres'].each do |theatre| %>
			          <%#@xtheatres= theatre['name']%>
			          <%#@id_theatre= theatre['id']%>
			          <option name = "<%=@id_theatre%>" id=movie value="<%=@id_theatre%>"> <%=@xtheatres%></option>
			          <%#end%>-->
			        <!--</select>
		     	</div>

		    <input class="btn btn-danger" name="commit" type="submit" value=" SHOWTIME ">
		    <%end%>


	</div>-->
	</div><!--navbar-inner-->
</div>