<div id="quick-showtime">
	<div class="navbar-inner">
		<ul class="nav left">
			<li role="navigation">
				<li class="dropdown">
					<a id="drop1" class="brand dropdown-toggle" href="#" role="button" data-toggle="dropdown">Flavu</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
						<li id="dropdown1" role="presentation"><a role="menuitem" tabindex="-1" href="http://blog.flavu.com/">Blog</a></li>
						<li id="dropdown1" role="presentation"><a role="menuitem" tabindex="-1" href="#">Contact</a></li>
						<li id="dropdown1" role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
					</ul>
				</li>
			</li>
			<li><%= link_to "News" , news_path%></li>
			<li><%= link_to "Showtimes" , showtimes_path%></li>
			<!--<li><%= link_to "Reviews" , reviews_path%></li>
			
			<li><%= link_to "Box Office" , boxoffice_path%></li>-->

			<li>
				<%=form_tag '/buddies' ,:style=>"margin:0;" do%>
					<input id="request" name="request" type="text" placeholder="send your request">
					<button id="bt_find_friends" name="commit" class="icon-search" type="submit" title="send your request"></button>
				<%end%>
			</li>
			

		</ul>
		<ul class="nav right">
			<%if (!cookies.signed[:auth])%>
				<li>
					<a href="#myModal" data-toggle="modal" data-backdrop="true" class="title">Log In</a>
					<div id="myModal" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
		    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    				<h3 class="title">Log In</h3>
		    			</div>
		    			<div class="modal-body">
							<%= form_tag '/checklogin' do %>
								<div class="control-group">
									<div class="controls">
										<div id="login-bar">
											<%= label_tag("Login") %>
											<%= text_field_tag "login"%>
											<%= label_tag("Password") %>
											<%= password_field_tag("password") %>
										</div>
										<div id="login-button">
										  	<button name="confirm" id="confirm" value="confirm"> Login </button>
										</div>
										<div id="remember-but">
											<label><input type="checkbox"> Remember me</label>
										</div>
									</div>
								</div>
							<%end%>
		  				</div>
					</div>
				<li>
				<li>
					<a href="/register" class="title">Register</a>
				</li>
			<%else%>

			<li class="dropdown">
				<a id="drop1" class="brand dropdown-toggle" href="#" role="button" data-toggle="dropdown">Your Welcome <%=cookies.signed['username']%></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
					<li id="dropdown1" role="presentation"><a role="menuitem" tabindex="-1" href="/signout">Sing Out</a></li>
				</ul>
			</li>
			<%end%>
		</ul>
<!--
			<li class="stat"> Available On </li>
			<li><a href="#"><img src="/assets/apple-logo.png" width="35" height="35"></a></li>
			<li><a href="#"><img src="/assets/android-logo.png" width="35" height="35"></a></li>
		</ul> -->

		<!--<h1><img src="/assets/showtime.png"></h1>
		<div id="quick-showtime-form">
			<%=form_tag '/showtime' do %>
		    	<div id="quick-movies">
			        <select id = "movie" name = "movie">
			        <option name = "all_movies" id=movie value="all_movies"> All Movies</option><h1>at</h1>
			        <!--<%#@rm['movies'].each do |movie| %>
			        <%#@xmovies= movie['title']%>
			        <%#@id_movie= movie['id']%>
			        <option name = "<%=@id_movie%>" id=movie value="<%=@id_movie%>"> <%=@xmovies%></option>
			        <%#end%>-->
			        <!--</select>
		     	</div>

		     	<div id="quick-theatres">
			        <select id = "theatre" name = "theatre">
			        <option name = "all_theatres" id="theatre" value="all_theatres"> All Theatres</option>
			         <!--<%#@nt['theatres'].each do |theatre| %>
			          <%#@xtheatres= theatre['name']%>
			          <%#@id_theatre= theatre['id']%>
			          <option name = "<%=@id_theatre%>" id=movie value="<%=@id_theatre%>"> <%=@xtheatres%></option>
			          <%#end%>-->
			        <!--</select>
		     	</div>

		    <input class="btn btn-danger" name="commit" type="submit" value=" SHOWTIME ">
		    <%end%>


	</div>-->
	</div><!--navbar-inner-->
</div>