<div id="quick-showtime">
	<div class="navbar-inner">
		<ul class="nav left">
			<li role="navigation">
				<li class="dropdown">
					<a id="drop1" class="brand dropdown-toggle" href="#" role="button" data-toggle="dropdown">Flavu <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
						<li id="dropdown1" role="presentation"><a role="menuitem" tabindex="-1" href="http://blog.flavu.com/">Blog</a></li>
						<li id="dropdown1" role="presentation"><a role="menuitem" tabindex="-1" href="/contact">Contact</a></li>
						<li id="dropdown1" role="presentation"><a role="menuitem" tabindex="-1" href="aboutus">About Us</a></li>
					</ul>
				</li>
			</li>
			<li><%= link_to "News" , news_path%></li>
			<li><%= link_to "Showtimes" , showtimes_path%></li>
			<li><%= link_to "Trailers" , trailers_path%></li>
			<!--<li><%= link_to "Reviews" , reviews_path%></li>
			
			<li><%= link_to "Box Office" , boxoffice_path%></li>-->
			<%if cookies.signed['auth']%>
			<li>
				<%=form_tag '/buddies' ,:style=>"margin:0;" do%>
					<input id="request" name="request" type="text" placeholder="Send requests to your buddies">
					<button id="bt_find_friends" name="commit" class="icon-search" type="submit" title="Send requests to your buddies"></button>
				<%end%>
			</li>
			<%else%>
			<%end%>
			
		</ul>
		<ul class="nav right">
			<%if (!cookies.signed[:auth])%>
				<li>
		
					<a href="#myModal" data-toggle="modal" data-backdrop="true" class="title" >Log In</a>
					<div id="myModal" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
		    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    				<h3 class="title">Log In</h3>
		    			</div>
		    			<div class="modal-body">
		    				<%if flash[:error]%><div class="alert"><%= flash[:error]%></div><%end%>
							<%= form_tag '/checklogin' ,:class=>"form-horizontal" do %>
						        <div class="control-group">
						          <label class="control-label" for="inputEmail">Login</label>
						          <div class="controls">    
						            <%= text_field_tag "login" ,nil,:placeholder=>"Username or Email"%>
						          </div>
						        </div>
						        <div class="control-group">
						          <label class="control-label" for="inputPassword">Password</label>
						          <div class="controls">    
						            <%= password_field_tag "password" ,nil,:placeholder=>"Password" %>
						          </div>
						        </div>
						        <div class="control-group">
						          <div class="controls">
						            <label class="checkbox">
						              <%=check_box("checkbox", "check")%>
						              Remember me
						            </label>
						            <button name="confirm" id="confirm" value="confirm" type="submit" class="btn"> Login </button>  
						          </div>  
						        </div>
						        <div class="control-group">
						          <div class="controls">
						          	<div id="forgot-password">
						          		<%=link_to "forgot password?", forgot_password_path%>
						          	</div>
						          </div>  
						        </div>
						    <%end%>
		  				</div>
					</div>
				</li>
				<li>
					<a href="/register" class="title">Register</a>
				</li>
			<%else%>

			<li class="dropdown">
				<a id="drop1" class="brand dropdown-toggle" href="#" role="button" data-toggle="dropdown">Your Welcome <%=cookies.signed['username']%> <span class="caret" style="margin-top:11px;"></span></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
					<li id="dropdown1" role="presentation"><a role="menuitem" tabindex="-1" href="/signout">Sing Out</a></li>
				</ul>
			</li>
			<%end%>
		</ul>

	</div><!--navbar-inner-->
</div>