<!DOCTYPE html>
<html>
<head>
  <title>EasilyxMovie</title>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-1.7.2.min" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= stylesheet_link_tag    "custom", :media => "screen" %>


  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%if @a1 && @guests %>
  <meta http-equiv="refresh" content="0; url=/cover"> 

<%else%>
<script>
$(function(){
	$('a').each(function() {
		if ($(this).prop('href') == window.location.href) {
			$(this).addClass('current');
		}
	});
});
</script>
</head>
<body>

<div id="wrapper">
	<header id="head">
		<h1 id="logo" class="current"> 
			<%= link_to image_tag('/assets/logof.png'), home_path %> </h1>
		<nav id="mainnav">
			<div class="main-menu">
				<ul id= "main-menu" class="menu">
					<li id="movie-link"><%= link_to "Movies", movies_path %> </li>
					<li id="theatre-link"><%= link_to "Theatres", theatres_path %> </li>
					<li id="buddy-link"><%= link_to "Buddies", buddies_path %> </li>
					<li id="preference-link"><%= link_to "Preferences", preferences_path %> </li>

					<%if (!session['auth'])%>
					<li id="register-link"><%= link_to "Register", register_path %></li>
						
					<li id="signin-link"><%= link_to "Sign In", signin_path %>  </li>
					<%else%>
					<li id="setting-link"><%= link_to "Setting", settings_path %> </li>
					<li id="signout-link"><%= link_to "Sign out", signout_path %>  </li>
					<%end%>

				</ul>
			</div>
		</nav>
	</header>
	
</div>

	<div class = "container">

	<%=render 'layouts/showtime'%>
<div id="main" class="group" role="main">

<%=yield%>
<%=render 'layouts/side' %>

</div>
<%=render 'layouts/footer' %>

</div>


<%end%>




</body>
</html>
