<!DOCTYPE html>
<html>
<head>
  <title>EasilyxMovie</title>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= stylesheet_link_tag    "custom", :media => "screen" %>

  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41670747-1', 'flavu.com');
  ga('send', 'pageview');

</script>
  <%if @a1 && @guests %>
  <meta http-equiv="refresh" content="0; url=/cover"> 

<%else%>
<script>
$(function(){
	$('a').each(function() {
		if ($(this).prop('href') == window.location.href) {
			$(this).addClass('current');
		}
	});
});
</script>
</head>
<body>

<div id="wrapper">
	<header id="head">
		<h1 id="logo" class="current"> 
			<%= link_to image_tag('/assets/logof.png'), home_path %> </h1>
		<nav id="mainnav">
			<div class="main-menu">
				<ul id= "main-menu" class="menu">
					<li id="movie-link"><%= link_to "Movies", movies_path %> </li>
					<li id="theatre-link"><%= link_to "Theatres", theatres_path %> </li>
					<li id="buddy-link"><%= link_to "Buddies", buddies_path %> </li>
					<li id="preference-link"><%= link_to "Preferences", preferences_path %> </li>

					<!--<li id="register-link"><%= link_to "Register", register_path %></li>
						
					<li id="signin-link"><%= link_to "Sign In", signin_path %>  </li>-->
					<li id="setting-link"><%= link_to "Setting", settings_path %> </li>

					<!--<li id="signout-link"><%= link_to "Sign out", signout_path %>  </li>-->
					<li id="app_store">
						<%=link_to "#" do%>
							<img src="/assets/apple_store.png">
						<%end%>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	
</div>

	<div class = "container">

	<%=render 'layouts/showtime'%>
<div id="main" class="group" role="main">

<%=yield%>

</div>
<%=render 'layouts/footer' %>

</div>


<%end%>




</body>
</html>
