<!DOCTYPE html>
<html>
<head>
  <title>EasilyxMovie</title>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap/js/bootstrap" %>
  <%= javascript_include_tag "bootstrap/js/bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap/css/bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= csrf_meta_tags %>

  <%if @a1 && @guests %>
  <meta http-equiv="refresh" content="0; url=/cover"> 

<%else%>
</head>
<body>


<header id="nav1" class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container row-fluid">
		<h1 class = "brand"> <%= link_to "Flavu MoviesX", home_path %> </h1>
			<ul class = "nav pull-right">
				<li><%= link_to "Movies", movies_path %> </li>
				<li><%= link_to "Theatres", theatres_path %> </li>
				<li><%= link_to "Buddies", buddies_path %> </li>
				<li><%= link_to "Preferences", preferences_path %> </li>

				
				<%if (!session['auth'])%>
				<li><%= link_to "Register", register_path %></li>
				
				<li><%= link_to "Sign In", signin_path %>  </li>
				<%else%>
				<li><%= link_to "Setting", settings_path %> </li>
				<li><%= link_to "Sign out", signout_path %>  </li>
				<%end%>

			</ul>
	</div>
  </div>
</header>
<div class = "container ">
<%=yield%>

</div>



<%end%>




</body>
</html>
