<html>
<head>
<%= stylesheet_link_tag    "cover", :media => "all" %>
<%= csrf_meta_tags %>
</head>

<body>
<div class = "container">
	<div class="wrapper">
		<div id="header">
			<div id="logo">
				<h1> LOGO </h1>
			</div>
			<div id="login-menu">
				<%if flash[:error]%>
					<div class = "alert">
				    	<p> <%=flash[:error]%></p>
				 	</div>
				<%else%>
				<%end%>
				  	<%= form_tag '/checklogin' do %>
					    <div id="login1">
					      <!--<label for="user_login">Login</label>-->
					    	<!--<%= label_tag("login") %>-->
					    	<label for="login">Email</label>
					   		<%=text_field_tag "login"%>

					      <!--<input id="user_login" name="user[login]" size="30" type="text">-->					
					  	</div>	
						<div id="password1">
							<%= label_tag("password") %>
							<%= password_field_tag("password") %>
					    </div>
						<div class='controls' style="float:right; padding-right:10px;">
							<button name="confirm" id="confirm" value="confirm"> Login </button>
						</div>				   	
   <%end%>
			</div>
		</div>
		<div class="content">
			<div id="cover-content">
			<!--<iframe width="640" height="360" src="http://www.youtube.com/embed/5EjG-1U3wqA?autoplay=1&vq=hd1080 " frameborder="0" allowfullscreen></iframe>-->
			<iframe width="640" height="360" src="http://trailers.apple.com/movies/dreamworks/thecroods/thecroods-tlr1_h640w.mov" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	<%=yield%>
	</div>
</div>
</body>
</html>

